<h1 class="page-header">Dashboard</h1>

<h2 class="h2">Website Analytics<h2>

<h3 class="h3">There are <a href="/admin/products"><%= @product_count %></a> products currently listed.
<h3 class="h3">There are <a href="/admin/products"><%= @category_count %></a> categories of products.

