<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>We are a small, family-owned, generational business. We grow and sell unique and beautiful potted plants to liven your home. Whether you are a total greenthumb, or an avid decorator, our plants are perfect for you.</p>
  <p>Our team consists of 3 important team members. We have David our greenhouse attendent and web designer, Rae our bouquet maker, and our fluffy supportive companion Timone.</p>
</section>